
archive/df_with_features_g.csv
archive/df_with_features_h.csv

archive/merged_gatherers.csv
archive/merged_hunters.csv

/data/
/data_raw/
/reports/plots/participent_correctness_coeffs/area_metrics_correctness_log_reg/
/reports/plots/participent_correctness_coeffs/derived_features_correctness_log_reg/
/reports/plots/participent_correctness_coeffs/full_features_correctness_log_reg/
